<ion-header>
   <ion-navbar>
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Dj recomenda</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-card img-mini *ngFor="let track of trackListSplited; let i = index">
      <img *ngIf="track.capa" src="http://radioblackbrasil.com/files/albums/{{ track.capa }}"/>
      <ion-card-content>
         <ion-card-title class="txt-no-break">{{ track.artist }}</ion-card-title>
         <p class="txt-bold txt-no-break"> <i class="fa fa-music"></i> &nbsp; {{ track.title }}</p>
         <p class="txt-italic txt-no-break">{{ track.genero }}</p>
      </ion-card-content>
      <ion-row no-padding>
         <ion-col>
            <button ion-button clear small color="danger" icon-start>
               <!-- <ion-icon name='share-alt'></ion-icon>
               Share -->
            </button>
         </ion-col>
         <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
               <!-- <ion-icon name='musical-notes'></ion-icon>
               Listen -->
            </button>
         </ion-col>
         <ion-col text-right>
            <button ion-button clear icon-start (click)="play('self', i)">
               <ion-icon name='play'></ion-icon> Ouvir
            </button>
         </ion-col>
      </ion-row>
   </ion-card>

   <!-- behind player space -->
   <br>
   <br>
   <br>
   <br>
   
</ion-content>