// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.txt-center { text-align: center !important }
.txt-right { text-align: right !important }
.txt-bold { font-weight: bold !important }
.txt-italic { font-style: italic !important }
.txt-big { font-size: 120% !important }
.txt-small { font-size: 85% !important }
.txt-no-break {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f-right { float: right }
.f-left { float: left }

.fa-pulse { animation: fa-spin .6s infinite steps(8); }

.card {
  .card-content {
    .card-title { color: #999 }
    p { color: #ccc }
    .txt-no-break {
      width: 70%;
    }
  }
  &[img-mini] {
    margin: 10px 0 10px 0;
    width: 100%;
    img {
      width: 90px;
      height: 90px;
      float: left;
      margin: 0 10px 0 0;
    }
    .card-title {
      padding: 0 0 5px 0;
      font-size: 2rem;
    }
    .card-content {
        padding: 5px 10px 0 15px;
    }
    .row {
      clear: both;
      border-top: 1px solid #1a1a1a;
      .col {
        padding: 0;
      }
    }
  }
}

.footer {
  a { color: #777 }
  p {
    color: #ccc;
    margin: 7px 0 0 15px;
    &:first-child { font-size: 1.6rem }
  }
}

#progress {
  height: 2px;
  background: greenyellow;
}

.action-sheet-button {
  width: 33%;
  .button-inner {
    justify-content: center !important;
    .icon {
      margin: 0;
    }
  }
}

.card-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding-top: 100px;
  border-top: 1px solid #666;
  border-left: 1px solid #333;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;

  &.bg-profile {
    padding-top: 200px;
    border: none;
    margin: 0;
    width: 100%;
    &:before { 
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      left:0; 
      bottom:0;
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#242424+0,242424+100&0+0,1+50,1+100 */
      background: -moz-linear-gradient(top, rgba(25,25,25,0) 0%, rgba(25,25,25,.8) 70%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(25,25,25,0) 0%, rgba(25,25,25,.8) 70%, rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(25,25,25,0) 0%, rgba(25,25,25,.8) 70%, rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00242424', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 100%;
    left:0; 
    top:0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.99) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: .95; 
  }
  .card-title {
    position: relative;
    display: inline-block;
    color: #999;
    padding: 5px;
    font-size: 1.5em;
    z-index: 9
  }
}