// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.txt-center { text-align: center !important }
.txt-bold { font-weight: bold !important }
.txt-italic { font-style: italic !important }
.txt-big { font-size: 120% !important }
.txt-small { font-size: 85% !important }

.fa-pulse { animation: fa-spin .6s infinite steps(8); }

.card {
  .card-content {
    .card-title { color: #999 }
    p { color: #ccc }
  }
  &[img-mini] {
    img {
      width: 110px;
      height: 110px;
      float: left;
      margin: 0 15px 0 0;
   }
   .card-title {
      padding: 0 0 5px 0;
   }
   .card-content {
      padding: 5px 10px 0 15px;
   }
   .row {
      clear: both;
   }
  }
}

.footer {
  a { color: #777 }
  p {
    color: #ccc;
    margin: 7px 0 0 15px;
    &:first-child { font-size: 1.6rem }
  }
}